# code: language=ansible
---
- name: Install gitlab
  block:
  - name: Verify stacks directory exists
    ansible.builtin.file:
      path: "/home/{{ ansible_user }}/home-server/stacks/gitlab"
      state: directory
      mode: 0775

  - name: Verify gitlab volume path
    become: true
    ansible.builtin.file:
      path: "{{ docker_volumes_path }}/{{ item.name }}"
      state: directory
      owner: "{{ item.owner | default('root') }}"
      group: "{{ item.group | default('root') }}"
      mode: "{{ item.mode | default('0700') }}"
    loop:
      - name: gitlab-logs
      - name: gitlab-config
      - name: gitlab-data
#     - name: runner-config

  - name: Copy gitlab config
    become: true
    ansible.builtin.template:
      src: gitlab.rb
      dest: "{{ docker_volumes_path }}/gitlab-config/gitlab.rb"
      mode: 0644

  - name: Load existing secret
    ignore_errors: true
    become: true
    ansible.builtin.fetch:
      src: "{{ docker_volumes_path }}/secrets/gitlab_root_password"
      dest: "files/secrets/gitlab_root_password"
      flat: true

  - name: Generate passwords if not existant
    become: true
    ansible.builtin.set_fact:
      gitlab_root_password: "{{ lookup('password', 'files/secrets/gitlab_root_password chars=ascii_letters,digits length=32') }}"

  - name: Push new secrets
    become: true
    ansible.builtin.copy:
      src: "files/secrets/gitlab_root_password"
      dest: "{{ docker_volumes_path }}/secrets/gitlab_root_password"
      force: false
      mode: 0640

  - name: remove local secret
    ansible.builtin.file:
      path: "files/secrets/gitlab_root_password"
      state: "absent"
    delegate_to: localhost


  - name: Create docker-compose file
    ansible.builtin.template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/gitlab/docker-compose.yml
      mode: 0775

  - name: Deploy compose from a compose file
    docker_compose:
      pull: true
      build: true
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/gitlab
