---
- name: Install Docker Python library
  become: true
  pip:
    name: "{{ item }}"
  loop:
    - docker
    - jsondiff
    - pyyaml

- name: Install Docker GPG key
  become: true
  apt-key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  become: true
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable

- name: Install Docker
  become: true
  apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    force_apt_get: true
    update_cache: yes

- name: Add "{{ ansible_user }}" user to "docker" group
  become: true
  user: 
    name: "{{ ansible_user }}"
    group: docker

- name: Waiting for Docker service to become available
  wait_for:
    path: /var/run/docker.sock

- name: check for reboot request
  stat:
    path: /var/run/reboot-required
  register: reboot_request

- name: Reboot host(s) after package upgrade
  reboot:
    reboot_timeout: 60
  when: reboot_request.stat.exists