---
- name: Install Docker Python library
  become: true
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
    - docker
    - jsondiff
    - pyyaml
    - docker-compose
    - jmespath

- name: Install Docker GPG key
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  become: true
  ansible.builtin.apt_repository:
    validate_certs: true
    update_cache: true
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"

- name: Install Docker
  become: true
  ansible.builtin.apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: latest # noqa package-latest
    force_apt_get: true
    update_cache: true

- name: Install Docker Compose
  become: true
  ansible.builtin.get_url:
    url: https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: u+x,g+x,o+x

- name: Add "{{ ansible_user }}" user to "docker" group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    group: docker

- name: Waiting for Docker service to become available
  ansible.builtin.wait_for:
    path: /var/run/docker.sock

- name: Check for reboot request
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_request

- name: Reboot host(s) after package upgrade
  become: true
  block:
    # - name: Drain node
    #   docker_node:
    #     hostname: "{{ ansible_hostname }}"
    #     availability: drain
    #   ignore_errors: true
    #   register: drained
    # - name: Wait end of drain process
    #   wait_for:
    #     timeout: 60
    - name: Reboot
      ansible.builtin.reboot:
        reboot_timeout: 60
    # - name: Active node
    #   docker_node:
    #     hostname: "{{ ansible_hostname }}"
    #     availability: active
    #   when: drained is defined
  when: reboot_request.stat.exists
