# code: language=ansible
---
- name: Install Docker Python library
  become: true
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
    - docker
    - jsondiff
    - pyyaml
    - docker-compose
    - jmespath
    - passlib

- name: Install Docker GPG key
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  become: true
  ansible.builtin.apt_repository:
    validate_certs: true
    update_cache: true
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"

- name: Install Docker
  become: true
  ansible.builtin.apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: latest # noqa package-latest
    force_apt_get: true
    update_cache: true

- name: Add user to "docker" group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    group: docker

- name: Waiting for Docker service to become available
  ansible.builtin.wait_for:
    path: /var/run/docker.sock

- name: Check for reboot request
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_request

- name: Reboot host(s) after package upgrade
  become: true
  ansible.builtin.reboot:
    reboot_timeout: 60
  when: reboot_request.stat.exists

- name: Ndppd_install
  become: true
  ansible.builtin.package:
    name: ndppd
    state: present

- name: Configure Ndppd
  become: true
  ansible.builtin.template:
    src: ndppd.conf
    dest: /etc/ndppd.conf
    mode: '0644'
  register: ndppd_conf

- name: Ndppd_restart
  become: true
  ansible.builtin.service:
    name: ndppd
    state: restarted
    enabled: true
  when: (ndppd_conf is defined) and (ndppd_conf.changed)

- name: Ndppd_started
  become: true
  ansible.builtin.service:
    name: ndppd
    state: started
    enabled: true
  when: (ndppd_conf is not defined)

- name: Docker_sysctl_fix_proxy
  become: true
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-docker-router.conf
    name: net.ipv6.conf.{{ ansible_default_ipv6.interface }}.proxy_ndp
    value: "1"
    sysctl_set: true

- name: Docker_sysctl_fix_ra
  become: true
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-docker-router.conf
    name: net.ipv6.conf.{{ ansible_default_ipv6.interface }}.accept_ra
    value: "2"
    sysctl_set: true

- name: Configure Docker daemon
  become: true
  ansible.builtin.template:
    src: daemon.json
    dest: /etc/docker/daemon.json
    mode: u=rw,g=r,o=r
  notify: Restart docker

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Ensure docker volumes path exists
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}"
    state: directory
    mode: '0755'

- name: Add entry to /etc/fstab for docker volume
  become: true
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: "^{{ docker_volume_device }}\\s"
    line: "{{ docker_volume_device }} {{ docker_volumes_path }} ext4 defaults 0 2"
    state: present
  when: docker_volume_device is defined

- name: Mount docker volume
  become: true
  ansible.posix.mount:
    src: "{{ docker_volume_device }}"  # Replace with the actual device, e.g., /dev/sdX1
    path: "{{ docker_volumes_path }}"  # Replace with the actual mount path, e.g., /var/lib/docker/volumes
    fstype: ext4                       # Replace with the appropriate filesystem type
    state: mounted
  when: docker_volume_device is defined
...
