---
- name: Install a Gluster nodes
  community.docker.docker_plugin:
    plugin_name: glusterfs
    plugin_options:
      SERVERS: "{{ groups['gluster_nodes'][0] }},{{ groups['gluster_nodes'][1] }},{{ groups['gluster_nodes'][2] }}"

- name: Enable Gluster plugin
  community.docker.docker_plugin:
    plugin_name: glusterfs
    state: enable
