---
- name: Disable Gluster plugin 
  become: true
  community.docker.docker_plugin:
    plugin_name: "mochoa/glusterfs-volume-plugin{{  '-aarch64' if (not ansible_architecture == 'x86_64') }}"
    state: disable

- name: Install a Gluster nodes
  become: true
  community.docker.docker_plugin:
    plugin_name: "mochoa/glusterfs-volume-plugin{{  '-aarch64' if (not ansible_architecture == 'x86_64') }}"
    plugin_options:
      SERVERS: "{{ ','.join(groups['gluster_nodes']) }}"

- name: Enable Gluster plugin
  become: true
  community.docker.docker_plugin:
    plugin_name: "mochoa/glusterfs-volume-plugin{{  '-aarch64' if (not ansible_architecture == 'x86_64') }}"
    state: enable
