version: "3.4"
services:

  ncdb:
    labels:
      - traefik.enable=false
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
      - PGDATA=/var/lib/postgresql/data
    image: postgres
    restart: always
    networks:
      - nc_backend
    volumes:
      #- nexcloud-database-vol:/var/lib/postgresql/data:rw
      - nextcloud-database:/var/lib/postgresql/data:rw
    secrets:
      - postgres_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nextcloud"]
      interval: 10s
      timeout: 5s
      retries: 5
  nextcloud:
    labels:
      traefik.enable: 'true'
      traefik.docker.network: traefik_backend
      traefik.constraint-label: traefik_backend
      
      traefik.http.routers.nginx-http.rule: Host(`{{ app_domain_name }}`)
      traefik.http.routers.nginx-http.entrypoints: http
      traefik.http.routers.nginx-http.middlewares: https-redirect
      
      traefik.http.routers.nginx-https.rule: Host(`{{ app_domain_name }}`)
      traefik.http.routers.nginx-https.entrypoints: https
      traefik.http.routers.nginx-https.middlewares: nginx@docker
      traefik.http.routers.nginx-https.tls: 'true'
      traefik.http.routers.nginx-https.tls.certresolver: le

      traefik.http.routers.nginx-websecure.rule: Host(`{{ app_domain_name }}`)
      traefik.http.routers.nginx-websecure.entrypoints: websecure
      traefik.http.routers.nginx-websecure.middlewares: nginx@docker
      traefik.http.routers.nginx-websecure.tls: 'true'
      traefik.http.routers.nginx-websecure.tls.certresolver: le

      traefik.http.services.nginx.loadbalancer.server.port: 80

      traefik.http.middlewares.nginx.headers.SSLRedirect: 'true'
      traefik.http.middlewares.nginx.headers.STSIncludeSubdomains: 'true'
      traefik.http.middlewares.nginx.headers.STSPreload: 'true'
      traefik.http.middlewares.nginx.headers.STSSeconds: 315360000
      traefik.http.middlewares.nginx.headers.browserXSSFilter: 'true'
      traefik.http.middlewares.nginx.headers.contentTypeNosniff: 'true'
      traefik.http.middlewares.nginx.headers.customFrameOptionsValue: SAMEORIGIN
      traefik.http.middlewares.nginx.headers.forceSTSHeader: 'true'
      traefik.http.middlewares.nginx.headers.referrerPolicy: no-referrer
    environment:
      - POSTGRES_DB=default
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    restart: always
    hostname: nc_nextcloud
    build:
      context: .
      dockerfile: nextcloud.Dockerfile
    networks:
      - nc_backend
      - traefik_backend
    volumes:
      - nextcloud-www:/var/www/html:Z
      - nextcloud-config:/var/www/html/config:Z
      - nextcloud-data:/var/nc-data:Z
      - nginx_config:/etc/nginx:Z
    working_dir: /var/www/html
    depends_on:
      - ncdb
      - redis
    secrets:
      - postgres_password

  redis:
    labels:
      - traefik.enable=false
    command: redis-server --requirepass ***REMOVED_REDIS_PASSWORD***
    image: redis:alpine
    restart: always
    networks:
      - nc_backend
    volumes:
      - redis-data:/data:rw
    working_dir: /data

  elasticsearch_tesseract:
    labels:
      traefik.enable: 'false'
    restart: always
    hostname: elasticsearch_tesseract
    build:
      context: .
      dockerfile: elastic.Dockerfile
    volumes:
      - elastic_data:/usr/share/elasticsearch/data:rw
    networks:
      - nc_backend
    working_dir: /usr/share/elasticsearch
    environment:
      - node.name=esearch
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1

  collabora_online:
    labels:
      traefik.enable: 'true'
      traefik.docker.network: traefik_backend
      traefik.constraint-label: traefik_backend
      
      traefik.http.routers.collabora-http.rule: Host(`collabora.{{ app_domain_name }}`)
      traefik.http.routers.collabora-http.entrypoints: http
      traefik.http.routers.collabora-http.middlewares: https-redirect
      
      traefik.http.routers.collabora-https.rule: Host(`collabora.{{ app_domain_name }}`)
      traefik.http.routers.collabora-https.middlewares: collabora@docker
      traefik.http.routers.collabora-https.entrypoints: https
      traefik.http.routers.collabora-https.tls: 'true'
      traefik.http.routers.collabora-https.tls.certresolver: le

      traefik.http.middlewares.collabora.headers.SSLRedirect: 'true'
      traefik.http.middlewares.collabora.headers.STSIncludeSubdomains: 'true'
      traefik.http.middlewares.collabora.headers.STSPreload: 'true'
      traefik.http.middlewares.collabora.headers.STSSeconds: 315360000
      traefik.http.middlewares.collabora.headers.browserXSSFilter: 'true'
      traefik.http.middlewares.collabora.headers.contentTypeNosniff: 'true'
      traefik.http.middlewares.collabora.headers.customFrameOptionsValue: SAMEORIGIN
      traefik.http.middlewares.collabora.headers.forceSTSHeader: 'true'
      traefik.http.middlewares.collabora.headers.referrerPolicy: no-referrer

      traefik.http.services.collabora.loadbalancer.server.port: 9980

    cap_add:
      - MKNOD
    image: collabora/code:latest
    restart: always
    environment:
          - "DONT_GEN_SSL_CERT=true"
          - "extra_params=--o:ssl.enable=false --o:ssl.termination=true"
          - ALLOWED_HOSTS=*
          - DICTIONARIES="en_GB fr_FR"
    networks:
      - traefik_backend
      - nc_backend
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  turn_server:
    labels:
      - traefik.enable=false
    command:
      - '-n --log-file=stdout --external-ip=$$(detect-external-ip) --listening-port=3478
        --no-cli --fingerprint --use-auth-secret --static-auth-secret=jzstsfmh41l4wdhcyrqdjmiegc0b8i48
        --realm={{ app_domain_name }} --total-quota=100 --bps-capacity=0 --stale-nonce
        --no-multicast-peers'
    entrypoint:
      - docker-entrypoint.sh
    image: instrumentisto/coturn:latest
    restart: always
    networks:
      - nc_backend
    ports:
      - 0.0.0.0:3478:3478/tcp
      - 0.0.0.0:3478:3478/udp
    volumes:
      - turnserver-data:/var/lib/coturn:rw


networks:
  traefik_backend:
    external: true
  nc_backend:

volumes:
  nextcloud-www: 
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-www"
  nextcloud-config: 
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-config"
  nextcloud-data: 
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-data"
  redis-data: 
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-redis-data"
  nextcloud-database: 
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-db"
  turnserver-data: 
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-turnserver-data"
  nginx_config: 
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-nginx-config"
  elastic_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/nextcloud-elastic-data"

secrets:
  nextcloud_admin_password:
    file: "{{ docker_volumes_path }}/secrets/nextcloud_admin_secret"
  postgres_password:
    file: "{{ docker_volumes_path }}/secrets/database_user_secret"
  talk_password:
    file: "{{ docker_volumes_path }}/secrets/talk_secret"
  redis_password:
    file: "{{ docker_volumes_path }}/secrets/redis_secret" 