---
- name: Install portainer
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/home-server/stacks/portainer"
      state: directory
      mode: 0775

  - name: Verify Portainer volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/portainer"
      state: directory
      mode: 0644

  - name: Generate admin password hash
    command: echo $(htpasswd -nBb admin {{ portainer_admin_password }}) | cut -d ":" -f 2 | sed -e s/\\$/\\$\\$/g
    register: portainerpassword

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/portainer/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      build: yes
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/portainer
      # files:
      #   - /home/{{ ansible_user }}/home-server/stacks/portainer/docker-compose.yml