# code: language=ansible
---
- name: Verify stacks directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/home-server/stacks/portainer"
    state: directory
    mode: u=g=rwx,o=rx
- name: Verify Portainer volume path
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/portainer"
    state: directory
    mode: u=rw,g=o=r
- name: Create docker-compose stack file
  ansible.builtin.template:
    src: docker-compose.yml
    dest: /home/{{ ansible_user }}/home-server/stacks/portainer/docker-compose.yml
    mode: u=g=rwx,o=rx
- name: Deploy stack from a compose file
  community.docker.docker_compose:
    pull: true
    build: true
    state: present
    project_src: /home/{{ ansible_user }}/home-server/stacks/portainer
