---
- name: Install portainer on first swarm node
  when: inventory_hostname == groups['swarm_managers'][0]
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify Portainer volume path
    become: true
    file:
      path: "{{ gluster_mount_path }}/portainer"
      state: directory
      mode: 0644

  - name: Generate admin password hash
    command: echo $(htpasswd -nBb admin {{ portainer_admin_password }}) | cut -d ":" -f 2 | sed -e s/\\$/\\$\\$/g
    register: portainerpassword

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/portainer-agent-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_stack:
      state: present
      prune: yes
      name: portainer
      compose:
        - /home/{{ ansible_user }}/stacks/portainer-agent-stack.yml