# code: language=ansible
---
- name: Load existing secret
  become: true
  ansible.builtin.fetch:
    src: "{{ docker_volumes_path }}/secrets/{{ secret_name }}"
    dest: "files/secrets/{{ secret_name }}"
    flat: true
    fail_on_missing: false
  loop: "{{ secrets }}"
  loop_control:
    loop_var: secret_name
- name: Generate passwords if not existant # noqa: var-naming[no-jinja]
  become: true
  ansible.builtin.set_fact:
    "{{ secret_name }}": "{{ lookup('password', 'files/secrets/{{ secret_name }} chars=ascii_letters,digits length=32') }}"
  loop: "{{ secrets }}"
  loop_control:
    loop_var: secret_name
- name: Push new secrets
  become: true
  ansible.builtin.copy:
    src: "files/secrets/{{ secret_name }}"
    dest: "{{ docker_volumes_path }}/secrets/{{ secret_name }}"
    force: false
    mode: u=rw,g=r,o=
  loop: "{{ secrets }}"
  loop_control:
    loop_var: secret_name
- name: Remove local secret
  ansible.builtin.file:
    path: "files/secrets/{{ secret_name }}"
    state: "absent"
  delegate_to: localhost
  loop: "{{ secrets }}"
  loop_control:
    loop_var: secret_name
...
