---
# tasks file to install restic

- name: Get latest restic version from github
  ansible.builtin.uri:
    url: https://api.github.com/repos/restic/restic/tags
  register: restic_tags
  when: restic_version == 'latest'

- name: Set restic version
  ansible.builtin.set_fact:
    restic_version: "{{ restic_tags.json.0.name | replace('v', '') }}"
  when: restic_version == 'latest'

- name: Install restic binary
  become: true
  ansible.builtin.apt:
    pkg:
      - restic
    state: latest # noqa package-latest
    force_apt_get: true
    update_cache: true
