---
# tasks file to install restic

- name: Get latest restic version from github
  ansible.builtin.uri:
    url: https://api.github.com/repos/restic/restic/tags
  register: restic_tags

- name: Install restic binary
  become: true
  ansible.builtin.apt:
    pkg:
      - restic
    state: latest # noqa package-latest
    force_apt_get: true
    update_cache: true
