---
# tasks file to install restic

- name: get latest restic version from github
  uri:
    url: https://api.github.com/repos/restic/restic/tags
  register: restic_tags
  when: restic_version == 'latest'

- name: set restic version
  set_fact:
    restic_version: "{{ restic_tags.json.0.name | replace('v','') }}"
  when: restic_version == 'latest'

- name: install restic binary
  become: true
  apt:
    pkg:
      - restic
    state: latest # noqa package-latest
    force_apt_get: true
    update_cache: yes
