# code: language=ansible
---
# tasks file for prep_backup

- name: install restic
  include_tasks: install_restic.yml

- name: Verify databases volume path
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/{{ item }}"
    state: directory
    mode: 0700
  loop:
    - databases

- name: Load existing secret
  become: true
  ansible.builtin.fetch:
    src: "{{ docker_volumes_path }}/secrets/restic_backup_secret"
    dest: "files/secrets/restic_backup_secret"
    flat: true
    fail_on_missing: false

- name: Generate restic secret if restic_backup_secret is empty
  become: true
  ansible.builtin.set_fact:
    restic_backup_secret: "{{ lookup('password', 'files/secrets/restic_backup_secret chars=ascii_letters,digits length=32') }}"

- name: Push new secrets
  become: true
  ansible.builtin.file:
    src: "files/secrets/restic_backup_secret"
    dest: "{{ docker_volumes_path }}/secrets/restic_backup_secret"
    force: false
    mode: 0640

- name: remove local secret
  ansible.builtin.file:
    path: "files/secrets/restic_backup_secret"
    state: "absent"
  delegate_to: localhost

- name: Initialize repository
  become: true
  ansible.builtin.command: 'restic init'
  environment:
    RESTIC_REPOSITORY: "{{ restic_repo }}"
    RESTIC_PASSWORD: "{{ restic_backup_secret }}"
  register: restic_init
  changed_when: "'created restic backend' in restic_init.stdout"
  failed_when:
    - restic_init.rc != 0
    - not ( 'config already initialized' in restic_init.stderr or 'config file already exists' in restic_init.stderr )

- name: Create restic backup script
  become: true
  ansible.builtin.template:
    src: 'backup_volumes.sh.j2'
    dest: '/usr/local/bin/backup_volumes.sh'
    owner: 'root'
    group: 'root'
    mode: '0750'
    force: true

- name: Cron volume backup
  become: true
  ansible.builtin.cron:
    name: "backup selfhosted"
    day: "{{ restic_backup_day }}"
    minute: "{{ restic_backup_minute }}"
    hour: "{{ restic_backup_hour }}"
    job: "/usr/local/bin/backup_volumes.sh > /var/log/backup_volumes.log 2>&1"
