# code: language=ansible
---
# tasks file for prep_backup

- name: Install restic
  ansible.builtin.include_tasks: install_restic.yml

- name: Verify databases volume path
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/{{ item }}"
    state: directory
    mode: u=rwx,g=o=
  loop:
    - databases

- name: Retrive secret
  ansible.builtin.include_tasks: "tasks/retrieve_password.yml"
  vars:
    secrets:
      - restic_backup_secret

- name: Initialize repository
  become: true
  ansible.builtin.command: 'restic init'
  environment:
    RESTIC_REPOSITORY: "{{ restic_repo }}"
    RESTIC_PASSWORD: "{{ restic_backup_secret }}"
  register: restic_init
  changed_when: "'created restic backend' in restic_init.stdout"
  failed_when:
    - restic_init.rc != 0
    - not ( 'config already initialized' in restic_init.stderr or 'config file already exists' in restic_init.stderr )

- name: Initialize AWS repository
  ansible.builtin.command: 'restic init'
  environment:
    AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"
    RESTIC_REPOSITORY: "s3:{{ aws_bucket }}"
    RESTIC_PASSWORD: "{{ restic_backup_secret }}"
  register: restic_init_aws
  changed_when: "'created restic backend' in restic_init_aws.stdout"
  failed_when:
    - restic_init_aws.rc != 0
    - not ( 'config already initialized' in restic_init_aws.stderr or 'config file already exists' in restic_init_aws.stderr )
  when: aws_access_key_id is defined and aws_secret_access_key is defined

- name: Create restic backup script
  become: true
  ansible.builtin.template:
    src: 'backup_volumes.sh.j2'
    dest: '/usr/local/bin/backup_volumes.sh'
    owner: 'root'
    group: 'root'
    mode: '0750'
    force: true

- name: Cron volume backup
  become: true
  ansible.builtin.cron:
    name: "backup selfhosted"
    day: "{{ prep_backup_day }}"
    minute: "{{ prep_backup_minute }}"
    hour: "{{ prep_backup_hour }}"
    job: "/usr/local/bin/backup_volumes.sh > /var/log/backup_volumes.log 2>&1"
