version: "3.4"
services:
  homeassistant:
    labels:
      traefik.enable: 'true'
      traefik.docker.network: traefik_backend
      traefik.constraint-label: traefik_backend
      
      traefik.http.routers.home-http.rule: Host(`home.{{ duckdns_subdomain }}.duckdns.org`)
      traefik.http.routers.home-http.entrypoints: http
      traefik.http.routers.home-http.middlewares: https-redirect
      
      traefik.http.routers.home-https.rule: Host(`home.{{ duckdns_subdomain }}.duckdns.org`)
      traefik.http.routers.home-https.entrypoints: https
      traefik.http.routers.home-https.middlewares: home@docker
      traefik.http.routers.home-https.tls: 'true'
      traefik.http.routers.home-https.tls.certresolver: le

      traefik.http.routers.home-websecure.rule: Host(`home.{{ duckdns_subdomain }}.duckdns.org`)
      traefik.http.routers.home-websecure.entrypoints: websecure
      traefik.http.routers.home-websecure.middlewares: home@docker
      traefik.http.routers.home-websecure.tls: 'true'
      traefik.http.routers.home-websecure.tls.certresolver: le

      traefik.http.services.home.loadbalancer.server.port: 8123
    entrypoint:
      - /init
    hostname: homeassistant
    image: homeassistant/home-assistant:stable
    network_mode: host
    # ports:
    #   - 8123:8123/tcp
    privileged: true
    restart: always
    security_opt:
      - label=disable
    volumes:
      - /run/dbus:/run/dbus:ro
      - homeassistant:/config:rw
      - /etc/machine-id:/etc/machine-id:ro
    working_dir: /config
    depends_on:
      - mosquitto

  mosquitto:
    labels:
      traefik.enable: 'false'
    restart: always
    image: eclipse-mosquitto
    ports:
      - 1883:1883/tcp
      - 1884:1884/tcp
      - 8883:8883/tcp
      - 8884:8884/tcp
    volumes:
      - mosquitto-config:/mosquitto/config:rw
      - mosquitto-data:/mosquitto/data:rw
      - mosquitto-log:/mosquitto/log:rw

  esphome:
    labels:
      traefik.enable: 'true'
      traefik.docker.network: traefik_backend
      traefik.constraint-label: traefik_backend
      traefik.http.routers.esphome-http.rule: Host(`esphome.{{ duckdns_subdomain }}.duckdns.org`)
      traefik.http.routers.esphome-http.entrypoints: http
      traefik.http.routers.esphome-http.middlewares: https-redirect
      traefik.http.routers.esphome-https.rule: Host(`esphome.{{ duckdns_subdomain }}.duckdns.org`)
      traefik.http.routers.esphome-https.entrypoints: https
      traefik.http.routers.esphome-https.tls: true
      traefik.http.routers.esphome-https.tls.certresolver: le
      traefik.http.services.esphome.loadbalancer.server.port: 6052
      traefik.http.routers.esphome-https.middlewares: esphome-auth
      traefik.http.middlewares.esphome-auth.basicauth.usersfile: /rules/esphome_users
    restart: always
    image: esphome/esphome
    network_mode: host
    ports:
      - 0.0.0.0:6052:6052
      - 0.0.0.0:6123:6123
    volumes:
      - esphome:/config:rw
    command: config/ dashboard

volumes:
  homeassistant:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/homeassistant"
  esphome:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/esphome"
  mosquitto-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/mosquitto-config"
  mosquitto-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/mosquitto-data"
  mosquitto-log:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/mosquitto-log"
  



