version: "3.4"
services:
  homeassistant:
    labels:
      traefik.enable: 'true'
      # traefik.docker.network: traefik_backend
      # traefik.constraint-label: traefik_backend
      
      traefik.http.routers.home-http.rule: Host(`home.{{app_domain_name}}`)
      traefik.http.routers.home-http.entrypoints: http
      traefik.http.routers.home-http.middlewares: https-redirect
      
      traefik.http.routers.home-https.rule: Host(`home.{{app_domain_name}}`)
      traefik.http.routers.home-https.entrypoints: https
      traefik.http.routers.home-https.tls: 'true'
      traefik.http.routers.home-https.tls.certresolver: le

      traefik.http.routers.home-websecure.rule: Host(`home.{{app_domain_name}}`)
      traefik.http.routers.home-websecure.entrypoints: websecure
      traefik.http.routers.home-websecure.tls: 'true'
      traefik.http.routers.home-websecure.tls.certresolver: le

      traefik.http.services.home.loadbalancer.server.port: 8123
    entrypoint:
      - /init
    hostname: homeassistant
    image: homeassistant/home-assistant:stable
    network_mode: host
    cap_add:
      - NET_ADMIN
    privileged: true
    restart: always
    security_opt:
      - label=disable
    volumes:
      - /run/dbus:/run/dbus:ro
      - homeassistant:/config:rw
      - /etc/machine-id:/etc/machine-id:ro
    working_dir: /config

  esphome:
    labels:
      traefik.enable: 'true'
      # traefik.docker.network: traefik_backend
      # traefik.constraint-label: traefik_backend
      traefik.http.routers.esphome-http.rule: Host(`esphome.{{app_domain_name}}`)
      traefik.http.routers.esphome-http.entrypoints: http
      traefik.http.routers.esphome-http.middlewares: https-redirect
      traefik.http.routers.esphome-https.rule: Host(`esphome.{{app_domain_name}}`)
      traefik.http.routers.esphome-https.entrypoints: https
      traefik.http.routers.esphome-https.tls: true
      traefik.http.routers.esphome-https.tls.certresolver: le
      traefik.http.services.esphome.loadbalancer.server.port: 6052
      traefik.http.routers.esphome-https.middlewares: esphome-auth
      traefik.http.middlewares.esphome-auth.basicauth.usersfile: /rules/esphome_users
    restart: always
    image: esphome/esphome
    network_mode: host
    # networks:
    #   - traefik_backend
    # ports:
    #   - 0.0.0.0:6052:6052
    #   - 0.0.0.0:6123:6123
    volumes:
      - esphome:/config:rw
    command: config/ dashboard

  esphome_ext:
    labels:
      traefik.enable: 'true'
      traefik.docker.network: traefik_backend
      traefik.constraint-label: traefik_backend
      traefik.http.routers.esp-http.rule: Host(`esp.{{app_domain_name}}`)
      traefik.http.routers.esp-http.entrypoints: http
      traefik.http.routers.esp-http.middlewares: https-redirect
      traefik.http.routers.esp-https.rule: Host(`esp.{{app_domain_name}}`)
      traefik.http.routers.esp-https.entrypoints: https
      traefik.http.routers.esp-https.tls: true
      traefik.http.routers.esp-https.tls.certresolver: le
      traefik.http.routers.esp-websecure.rule: Host(`esp.{{app_domain_name}}`)
      traefik.http.routers.esp-websecure.entrypoints: websecure
      traefik.http.routers.esp-websecure.tls: true
      traefik.http.routers.esp-websecure.tls.certresolver: le
      traefik.http.services.esp.loadbalancer.server.port: 6052
      traefik.http.routers.esp-websecure.middlewares: esphome-ext-auth
      traefik.http.routers.esp-https.middlewares: esphome-ext-auth
      traefik.http.middlewares.esphome-ext-auth.basicauth.usersfile: /rules/esphome_ext_users
    restart: always
    image: esphome/esphome
    networks:
      - traefik_backend
    # ports:
    #   - 0.0.0.0:6052:6052
    #   - 0.0.0.0:6123:6123
    volumes:
      - esphome-ext:/config:rw
    command: config/ dashboard

volumes:
  homeassistant:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/homeassistant"
  esphome:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/esphome"

  esphome-ext:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/esphome-ext"
  
networks:
  traefik_backend:
    external: true


