services:
  homeassistant:
    labels:
      traefik.enable: 'true'
      # traefik.docker.network: traefik_backend
      # traefik.constraint-label: traefik_backend
  
      traefik.http.routers.home-https.rule: Host(`home.{{app_domain_name}}`)
      traefik.http.routers.home-https.entrypoints: https
      traefik.http.routers.home-https.tls: 'true'
      traefik.http.routers.home-https.tls.certresolver: le

      traefik.http.services.home.loadbalancer.server.port: 8123
      traefik.http.services.home.loadbalancer.passHostHeader: 'true'
    entrypoint:
      - /init
    hostname: homeassistant
    image: homeassistant/home-assistant:stable
    network_mode: host
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      interval: 30s
      timeout: 10s
      retries: 6
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
    privileged: true
    restart: unless-stopped
    security_opt:
      - label=disable
    volumes:
      - /run/dbus:/run/dbus:ro
      - homeassistant:/config:rw
      - /etc/machine-id:/etc/machine-id:ro
    working_dir: /config

  zigbee2mqtt:
    labels:
      traefik.enable: 'true'
      traefik.docker.network: traefik_backend
      traefik.constraint-label: traefik_backend
      traefik.http.routers.zigbee2mqtt-https.rule: Host(`zigbee2mqtt.{{app_domain_name}}`)
      traefik.http.routers.zigbee2mqtt-https.entrypoints: https
      traefik.http.routers.zigbee2mqtt-https.tls: true
      traefik.http.routers.zigbee2mqtt-https.tls.certresolver: le
      traefik.http.services.zigbee2mqtt.loadbalancer.server.port: 8080
      traefik.http.services.zigbee2mqtt.loadbalancer.server.scheme: http
      traefik.http.routers.zigbee2mqtt-https.middlewares: authentik@docker
    image: koenkk/zigbee2mqtt:latest
    restart: always
    volumes:
      - zigbee2mqtt:/app/data:rw
      - /run/udev:/run/udev:ro # only required for auto-detecting the port and some adapters like ConBee
    devices:
      - /dev/serial/by-id/{{ zigbee2mqtt_device_id }}:/dev/ttyACM0
    environment:
      TZ: Europe/Paris
    expose:
      - 8080
    networks:
      - backend
      - traefik_backend

  esphome:
    labels:
      traefik.enable: 'true'
      traefik.http.routers.esphome-https.rule: Host(`esphome.{{app_domain_name}}`)
      traefik.http.routers.esphome-https.entrypoints: https
      traefik.http.routers.esphome-https.tls: true
      traefik.http.routers.esphome-https.tls.certresolver: le
      traefik.http.services.esphome.loadbalancer.server.port: 6052
      traefik.http.routers.esphome-https.middlewares: authentik@docker
    restart: always
    image: esphome/esphome
    privileged: true
    network_mode: host
    volumes:
      - esphome:/config:rw
      - /etc/localtime:/etc/localtime:ro

  mosquitto:
    image: eclipse-mosquitto
    volumes:
      - mosquitto:/mosquitto/config:rw # rw for startup script to fix permissions
      - mosquitto-data:/mosquitto/data:rw
    restart: always
    expose:
      - 1883
      - 9001
    ports:
      - target: 1883
        published: 1883
        protocol: tcp
        mode: host
      - target: 9001
        published: 9001
        protocol: tcp
        mode: host  
    networks:
      backend:
        aliases:
          - mqtt    

  myelectricaldata:
    labels:
      traefik.enable: 'true'
      # traefik.docker.network: traefik_backend
      # traefik.constraint-label: traefik_backend
      traefik.http.routers.myelectricaldata-https.rule: Host(`myelectricaldata.{{app_domain_name}}`)
      traefik.http.routers.myelectricaldata-https.entrypoints: https
      traefik.http.routers.myelectricaldata-https.tls: true
      traefik.http.routers.myelectricaldata-https.tls.certresolver: le
      traefik.http.services.myelectricaldata.loadbalancer.server.port: 5000
      traefik.http.routers.myelectricaldata-https.middlewares: authentik@docker
    image: m4dm4rtig4n/myelectricaldata:latest
    restart: always
    volumes:
      - myelectricaldata:/data:rw
    environment:
      TZ: Europe/Paris
    networks:
      - traefik_backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  wyoming-piper:
    image: rhasspy/wyoming-piper
    restart: always
    ports:
      - "10200:10200"
    volumes:
      - piper-data:/data
    command: [ "--voice", "fr_FR-upmc-medium" ]

  faster-whisper:
    image: lscr.io/linuxserver/faster-whisper:latest
    container_name: faster-whisper
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WHISPER_MODEL=small-int8
      - WHISPER_BEAM=1 #optional
      - WHISPER_LANG=fr #optional
    volumes:
      - /path/to/data:/config
    ports:
      - 10300:10300
    restart: unless-stopped

volumes:
  piper-data:
    driver: local
  zigbee2mqtt:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/zigbee2mqtt"
  homeassistant:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/homeassistant"
  esphome:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/esphome"
  myelectricaldata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/myelectricaldata"

  mosquitto:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/mosquitto"
  mosquitto-data:
    name: "mqtt-broker-data"

networks:
  backend:
  traefik_backend:
    external: true


