# code: language=ansible
---
- name: Verify stacks directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/home-server/stacks/traefik"
    state: directory
    mode: u=rwx,g=o=rx
- name: Create traefik provisionning directories
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/{{ item }}"
    state: directory
    mode: u=rw,g=o=r
  loop:
    - traefik-public-certificates
    - traefik-rules

- name: Create unbound directory
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/unbound"
    state: directory
    mode: u=rw,g=o=r
  when: unbound is defined and unbound

- name: Copy unbound configuration templates
  become: true
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ docker_volumes_path }}/unbound/{{ item }}"
    mode: u=rw,g=o=r
  loop:
    - unbound.conf
    - a-records.conf
    - srv-records.conf
    - forward-records.conf
  when: unbound is defined and unbound

- name: Create docker-compose stack file
  vars:
    mac: "{{ ansible_default_ipv6.macaddress.split(':') }}"
    first_byte: "{{ '%02x' % ((mac[0]|int(base=16)) + 2 if (mac[0]|int(base=16)) < 0x80 else (mac[0]|int(base=16)) - 2) }}"
    eui64: "{{ first_byte + mac[1] + ':' + mac[2] + 'ff:fe' + mac[3] + ':' + mac[4] + mac[5] }}"
  ansible.builtin.template:
    src: docker-compose.yml
    dest: /home/{{ ansible_user }}/home-server/stacks/traefik/docker-compose.yml
    mode: u=rwx,g=o=rx

- name: Set DNS as 127.0.0.1 in systemd-resolved configuration
  become: true
  ansible.builtin.replace:
    path: /etc/systemd/resolved.conf
    regexp: '#DNS=.*'
    replace: 'DNS=127.0.0.1'
  notify: Restart systemd-resolved
  when: unbound is defined and unbound

- name: Prevent systemd-resolved from listening on port 53
  become: true
  ansible.builtin.replace:
    path: /etc/systemd/resolved.conf
    regexp: '#DNSStubListener=.*'
    replace: 'DNSStubListener=no'
  notify: Restart systemd-resolved
  when: unbound is defined and unbound

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
  when: unbound is defined and unbound

# - name: Get IPv6 gateway
#   ansible.builtin.shell: |
#     set -o pipefail
#     ip -6 route | grep default
#   register: ipv6_gateway_output
#   changed_when: false

# - name: Extract IPv6 gateway
#   ansible.builtin.set_fact:
#     ipv6_gateway: "{{ ipv6_gateway_output.stdout.split(' ')[2] }}"

# - name: Configure static IPv6 address
#   become: true
#   community.general.nmcli:
#     conn_name: "{{ ansible_default_ipv4.alias }}"
#     state: present
#     type: ethernet
#     ip6:
#       - "{{ public_ipv6_address }}/64"
#     gw6: "{{ ipv6_gateway }}"
#     dns6:
#       - "{% if unbound is defined and unbound %}::1{% else %}{{ ipv6_gateway }}{% endif %}"
#       - "{{ ipv6_gateway }}"

- name: Restore doh git repo
  become: true
  ansible.builtin.git:
    repo: 'https://github.com/m13253/dns-over-https.git'
    dest: "/home/{{ ansible_user }}/home-server/stacks/traefik/doh"
    version: 'master'
    single_branch: true
  environment:
    GIT_TERMINAL_PROMPT: "0" # reports "terminal prompts disabled" on missing password
  when: unbound is defined and unbound

- name: Docker_sysctl_fix_proxy
  become: true
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-docker-router.conf
    name: net.ipv6.conf.{{ ansible_default_ipv4.alias }}.proxy_ndp
    value: "1"
    sysctl_set: true

- name: Docker_sysctl_fix_ra
  become: true
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-docker-router.conf
    name: net.ipv6.conf.{{ ansible_default_ipv4.alias }}.accept_ra
    value: "2"
    sysctl_set: true

- name: Configure UFW rules for Traefik services
  become: true
  vars:
    local_networks:
      - "{{ (ansible_default_ipv4.address ~ '/' ~ ansible_default_ipv4.prefix) | ansible.utils.ipaddr('network/prefix') }}"
      - "{{ (ansible_default_ipv6.address ~ '/' ~ ansible_default_ipv6.prefix) | ansible.utils.ipaddr('network/prefix') }}"
    ufw_rules:
      - name: "OpenSSH"
        port: "22"
        cidrs: "{{ local_networks }}"
      - name: "RDP"
        port: "3389"
        cidrs: "{{ local_networks }}"
      - name: "HTTPS"
        port: "443"
        cidrs: ["any"]
      - name: "DNS"
        port: "53"
        cidrs: ["any"]
        when: "{{ unbound is defined and unbound }}"
  community.general.ufw:
    rule: allow
    port: "{{ item.0.port }}"
    proto: "{{ item.0.proto | default('tcp') }}"
    from_ip: "{{ item.1 if item.1 != 'any' else omit }}"
    direction: "{{ item.0.direction | default(omit) }}"
    comment: "{{ item.0.name }}"
  loop: "{{ ufw_rules | subelements('cidrs') }}"
  when: item.0.when is not defined or item.0.when

- name: Deploy stack from a compose file
  community.docker.docker_compose_v2:
    pull: "always"
    build: "always"
    state: present
    project_src: /home/{{ ansible_user }}/home-server/stacks/traefik

- name: Configure Authentik providers and applications for Home Assistant services
  delegate_to: localhost
  become: false
  when: authentik_api_token is defined
  block:
    - name: Configure Authentik providers and applications for Traefik services
      ansible.builtin.include_tasks: "tasks/authentik_common.yml"
      vars:
        provider_apps:
          - provider:
              name: "traefik-provider"
              external_host: "https://traefik.{{ app_domain_name }}"
            app:
              name: "Traefik Dashboard"
              slug: "traefik"
