---
- name: Install traefik
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify traefik volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - traefik-public-certificates
      - traefik-rules

  - name: generate passwords if not existant
    become: true
    set_fact:
      traefik_admin_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/traefik_admin_password chars=ascii_letters,digits length=32') }}"
 
  - name: Generate admin password hash
    command: echo $(htpasswd -nb admin {{ traefik_admin_password }}) | sed -e s/\\$/\\$\\$/g
    register: traefik_hash

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/traefik-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      build: yes
      state: present
      files:
        - /home/{{ ansible_user }}/stacks/traefik-stack.yml
    
  - name: Wait end of deployment
    community.docker.docker_stack_task_info:
      name: registry
    register: docker_services
    until: docker_services[name=].CurrentState == "Running"
    retries: 15
    delay: 60