# code: language=ansible
---
- name: Verify stacks directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/home-server/stacks/traefik"
    state: directory
    mode: u=rwx,g=o=rx
- name: Verify traefik volume path
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/{{ item }}"
    state: directory
    mode: u=rw,g=o=r
  loop:
    - traefik-public-certificates
    - traefik-rules
- name: Retrive secret
  ansible.builtin.include_tasks: "tasks/retrieve_password.yml"
  vars:
    secrets:
      - traefik_admin_password
- name: Add a user to a password file and ensure permissions are set
  become: true
  community.general.htpasswd:
    path: "{{ docker_volumes_path }}/traefik-rules/traefik_users"
    name: admin
    password: "{{ traefik_admin_password }}"
    owner: root
    group: root
    mode: u=rw,g=o=r
- name: Create docker-compose stack file
  ansible.builtin.template:
    src: docker-compose.yml
    dest: /home/{{ ansible_user }}/home-server/stacks/traefik/docker-compose.yml
    mode: u=rwx,g=o=rx
- name: Deploy stack from a compose file
  community.docker.docker_compose_v2:
    pull: "always"
    build: "always"
    state: present
    project_src: /home/{{ ansible_user }}/home-server/stacks/traefik
