---
- name: Install traefik on first swarm_manager
  when: inventory_hostname == groups['swarm_managers'][0]
  block:
  - name: Verify stacks directory exists (on first swarm node)
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Generate admin password hash
    command: echo $(htpasswd -nb {{ traefik_admin_user }} {{ traefik_admin_password }}) | sed -e s/\\$/\\$\\$/g
    register: traefikpassword

  - name: Create docker-compose stack file (on first swarm node)
    copy:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/traefik-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file (on first swarm node)
    docker_stack:
      state: present
      name: traefik
      compose:
        - /home/{{ ansible_user }}/stacks/traefik-stack.yml