---
- name: Install traefik on first swarm_manager
  when: inventory_hostname == groups['swarm_managers'][0]
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify traefik volume path
    when: inventory_hostname == groups['swarm_managers'][0]
    become: true
    file:
      path: "{{ gluster_mount_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - traefik-public-certificates
      - traefik-rules

  - name: generate passwords if not existant
    set_fact:
      traefik_admin_password: "{{ lookup('password', '{{ gluster_mount_path }}/secrets/traefik_admin_password chars=ascii_letters,digits length=32') }}"
 
  - name: Generate admin password hash
    command: echo $(htpasswd -nb admin {{ traefik_admin_password }}) | sed -e s/\\$/\\$\\$/g
    register: traefik_hash

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/traefik-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_stack:
      state: present
      prune: yes
      name: traefik
      compose:
        - /home/{{ ansible_user }}/stacks/traefik-stack.yml