# code: language=ansible
---
- name: Install traefik
  run_once: true
  block:
  - name: Verify stacks directory exists
    ansible.builtin.file:
      path: "/home/{{ ansible_user }}/home-server/stacks/traefik"
      state: directory
      mode: 0775

  - name: Verify traefik volume path
    become: true
    ansible.builtin.file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - traefik-public-certificates
      - traefik-rules

  - name: Retrive secret
    ansible.builtin.include_tasks: "tasks/retrieve_password.yml"
    vars:
      secrets:
        - traefik_admin_password

  - name: Add a user to a password file and ensure permissions are set
    become: true
    community.general.htpasswd:
      path: "{{ docker_volumes_path }}/traefik-rules/traefik_users"
      name: admin
      password: "{{ traefik_admin_password }}"
      owner: root
      group: root
      mode: 0640

  - name: Create docker-compose stack file
    ansible.builtin.template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/traefik/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      pull: true
      build: true
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/traefik
