---
- name: Install traefik
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/home-server/stacks/traefik"
      state: directory
      mode: 0775

  - name: Verify traefik volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - traefik-public-certificates
      - traefik-rules

  - name: generate passwords if not existant
    become: true
    set_fact:
      traefik_admin_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/traefik_admin_password chars=ascii_letters,digits length=32') }}"

  - name: Add a user to a password file and ensure permissions are set
    become: true
    community.general.htpasswd:
      path: "{{ docker_volumes_path }}/traefik-rules/traefik_users"
      name: admin
      password: "{{ traefik_admin_password }}"
      owner: root
      group: root
      mode: 0640

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/traefik/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      build: yes
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/traefik
      # files:
      #   - /home/{{ ansible_user }}/home-server/stacks/traefik/docker-compose.yml
    
  - name: Wait end of deployment
    community.docker.docker_stack_task_info:
      name: registry
    register: docker_services
    until: docker_services[name=].CurrentState == "Running"
    retries: 15
    delay: 60