# code: language=ansible
---
- name: Install traefik
  run_once: true
  block:
  - name: Verify stacks directory exists
    ansible.builtin.file:
      path: "/home/{{ ansible_user }}/home-server/stacks/traefik"
      state: directory
      mode: 0775

  - name: Verify traefik volume path
    become: true
    ansible.builtin.file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - traefik-public-certificates
      - traefik-rules

  - name: Load existing secret
    become: true
    ansible.builtin.fetch:
      src: "{{ docker_volumes_path }}/secrets/traefik_admin_password"
      dest: "files/secrets/traefik_admin_password"
      flat: true
      fail_on_missing: false

  - name: Generate passwords if not existant
    ansible.builtin.set_fact:
      traefik_admin_password: "{{ lookup('password', 'files/secrets/traefik_admin_password chars=ascii_letters,digits length=32') }}"

  - name: Push new secrets
    become: true
    ansible.builtin.copy:
      src: "files/secrets/traefik_admin_password"
      dest: "{{ docker_volumes_path }}/secrets/traefik_admin_password"
      force: false
      mode: 0640

  - name: remove local secret
    ansible.builtin.file:
      path: "files/secrets/traefik_admin_password"
      state: "absent"
    delegate_to: localhost


  - name: Add a user to a password file and ensure permissions are set
    become: true
    community.general.htpasswd:
      path: "{{ docker_volumes_path }}/traefik-rules/traefik_users"
      name: admin
      password: "{{ traefik_admin_password }}"
      owner: root
      group: root
      mode: 0640

  - name: Create docker-compose stack file
    ansible.builtin.template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/traefik/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      pull: true
      build: true
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/traefik
      # files:
      #   - /home/{{ ansible_user }}/home-server/stacks/traefik/docker-compose.yml
