# code: language=ansible
---
- name: Verify stacks directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/home-server/stacks/ia"
    state: directory
    mode: u=rwx,g=o=rx
- name: Create ia provisionning directories
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/{{ item }}"
    state: directory
    mode: u=rw,g=o=r
  loop:
    - searxng

- name: Copy searxng configuration file
  become: true
  ansible.builtin.template:
    src: searxng_{{ item }}
    dest: "{{ docker_volumes_path }}/searxng/{{ item }}"
    mode: u=rw,g=o=r
  loop:
    - limiter.toml
    - settings.yml
    - uwsgi.ini

- name: Create docker-compose stack file
  ansible.builtin.template:
    src: docker-compose.yml
    dest: /home/{{ ansible_user }}/home-server/stacks/ia/docker-compose.yml
    mode: u=rwx,g=o=rx
- name: Deploy stack from a compose file
  community.docker.docker_compose_v2:
    pull: "always"
    build: "always"
    state: present
    project_src: /home/{{ ansible_user }}/home-server/stacks/ia
