# code: language=ansible
---
- name: Verify stacks directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/home-server/stacks/ia"
    state: directory
    mode: u=rwx,g=o=rx
- name: Create ia provisionning directories
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/{{ item }}"
    state: directory
    mode: u=rw,g=o=r
  loop:
    - speech
    - voices

- name: Copy speech configuration file
  become: true
  ansible.builtin.template:
    src: speech_{{ item }}
    dest: "{{ docker_volumes_path }}/speech/{{ item }}"
    mode: u=rw,g=o=r
  loop:
    - pre_process_map.yaml
    - voice_to_speaker.yaml

- name: Create docker-compose stack file
  ansible.builtin.template:
    src: docker-compose.yml
    dest: /home/{{ ansible_user }}/home-server/stacks/ia/docker-compose.yml
    mode: u=rwx,g=o=rx
- name: Deploy stack from a compose file
  community.docker.docker_compose_v2:
    pull: "always"
    build: "always"
    state: present
    project_src: /home/{{ ansible_user }}/home-server/stacks/ia

- name: Load speech models
  become: true # necessary to read docker_volumes_path content
  ansible.builtin.command:
    cmd: "docker exec ia-speech-1 /bin/sh -c ./download_voices_tts-1.sh fr_FR-upmc-medium"
    creates: "{{ docker_volumes_path }}/voices/fr_FR-upmc-medium.onnx"
...
