# code: language=ansible
---
- name: Verify stacks directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/home-server/stacks/ia"
    state: directory
    mode: u=rwx,g=o=rx
- name: Create ia provisionning directories
  become: true
  ansible.builtin.file:
    path: "{{ docker_volumes_path }}/{{ item }}"
    state: directory
    mode: u=rw,g=o=r
  loop:
    - speech
    - voices

- name: Copy speech configuration file
  become: true
  ansible.builtin.template:
    src: speech_{{ item }}
    dest: "{{ docker_volumes_path }}/speech/{{ item }}"
    mode: u=rw,g=o=r
  loop:
    - pre_process_map.yaml
    - voice_to_speaker.yaml

- name: Create docker-compose stack file
  ansible.builtin.template:
    src: docker-compose.yml
    dest: /home/{{ ansible_user }}/home-server/stacks/ia/docker-compose.yml
    mode: u=rwx,g=o=rx
- name: Deploy stack from a compose file
  community.docker.docker_compose_v2:
    pull: "always"
    build: "always"
    state: present
    project_src: /home/{{ ansible_user }}/home-server/stacks/ia

- name: Configure Authentik OAuth applications for IA
  delegate_to: localhost
  become: false
  when: authentik_api_token is defined
  block:
    - name: Configure Authentik OAuth provider and application for IA WebUI
      when: authentik_api_token is defined
      ansible.builtin.include_tasks: "tasks/authentik_common.yml"
      vars:
        oauth_apps:
          - provider:
              name: "webui-oauth-provider"
              client_id: "{{ webui_oauth_client_id }}"
              client_secret: "{{ webui_oauth_client_secret }}"
              redirect_uris:
                - url: "https://ia.{{ app_domain_name }}/oauth/oidc/callback"
                  matching_mode: "strict"
              client_type: "confidential"
              sub_mode: "user_email"
              include_claims_in_id_token: true
              issuer_mode: "per_provider"
              access_code_validity: "minutes=1"
              access_token_validity: "minutes=10"
              refresh_token_validity: "days=30"
              scopes: "openid profile email"
            app:
              name: "WebUI"
              slug: "{{ webui_oauth_slug_name }}"
              open_in_new_tab: true
              meta_launch_url: "https://ia.{{ app_domain_name }}"
              meta_description: "AI WebUI for speech and language processing"
              meta_publisher: "IA Services"

- name: Load speech models
  become: true # necessary to read docker_volumes_path content
  ansible.builtin.command:
    cmd: "docker exec ia-speech-1 /bin/sh -c ./download_voices_tts-1.sh fr_FR-upmc-medium"
    creates: "{{ docker_volumes_path }}/voices/fr_FR-upmc-medium.onnx"
...
