# code: language=ansible
---
- name: Install public_calendar
  run_once: true
  block:
  - name: Verify stacks directory exists
    ansible.builtin.file:
      path: "/home/{{ ansible_user }}/home-server/stacks/public_calendar"
      state: directory
      mode: 0775

  - name: Verify Radicale volume path
    become: true
    ansible.builtin.file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      owner: 1000
      group: 1000
      mode: 0700
    loop:
      - public_baikal
      - public_baikal_conf

  - name: Create docker-compose stack file
    ansible.builtin.template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/public_calendar/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    community.docker.docker_compose:
      pull: true
      build: true
      restarted: true
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/public_calendar
