---
- name: Create nextcloud Dockerfile
  copy:
    src: nextcloud/Dockerfile
    dest: /home/{{ ansible_user }}/home-server/stacks/nextcloud/Dockerfile
    mode: 0775
- name: Create supervisord Dockerfile
  copy:
    src: nextcloud/supervisord.conf
    dest: /home/{{ ansible_user }}/home-server/stacks/nextcloud/supervisord.conf
    mode: 0775
- name: Build nextcloud Image
  docker_image:
    build:
      pull: yes
      path: /home/{{ ansible_user }}/home-server/stacks/nextcloud
    name: registry.leducd.duckdns.org/nextcloud
    tag: latest
    push: yes

- name: Create elastic Dockerfile
  copy:
    src: elastic/Dockerfile
    dest: /home/{{ ansible_user }}/home-server/stacks/elastic/Dockerfile
    mode: 0775
- name: Build elastic Image
  docker_image:
    build:
      pull: yes
      path: /home/{{ ansible_user }}/home-server/stacks/elastic
    name: registry.leducd.duckdns.org/elasticsearchfr
    tag: latest
    push: yes