---
- name: Install nextcloud
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify nextcloud volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - redis-data
      - turnserver-data
      - nextcloud-www
      - nextcloud-config
      - nextcloud-data
      - collabora-conf
      - redis-data
      - nextcloud-db
      - nginx_config
      - elastic_data
      - secrets

  - name: generate passwords if not existant
    set_fact:
      nextcloud_admin_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/nextcloud_admin_secret chars=ascii_letters,digits length=32') }}"
      database_user_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/database_user_secret chars=ascii_letters,digits length=32') }}"
      talk_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/talk_secret chars=ascii_letters,digits length=32') }}"
      redis_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/redis_secret chars=ascii_letters,digits length=32') }}"

  - name: copy nginx configuration file
    copy:
      src: nginx.conf
      dest: "{{ docker_volumes_path }}/nginx_config"
      mode: '0644'

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/nextcloud-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      build: yes
      state: present
      files:
        - /home/{{ ansible_user }}/stacks/nextcloud-stack.yml