---
- name: Install nextcloud
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/home-server/stacks/nc"
      state: directory
      mode: 0775

  - name: generate passwords if not existant
    become: true
    set_fact:
      nextcloud_admin_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/nextcloud_admin_secret chars=ascii_letters,digits length=32') }}"
      database_user_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/database_user_secret chars=ascii_letters,digits length=32') }}"
      talk_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/talk_secret chars=ascii_letters,digits length=32') }}"
      redis_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/redis_secret chars=ascii_letters,digits length=32') }}"

  - name: upgrade db
    include_tasks: tasks/upgrade_postgres.yml
    vars:
      db_data_path: nextcloud-db
      db_container_name: nc_ncdb_1
      db_container_user: nextcloud
      db_password: "{{ database_user_secret }}"
      db_dump_filename: db_dump_pgsql_nextcloud

  - name: Verify nextcloud volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item.name }}"
      state: directory
      owner: "{{ item.owner | default('root') }}"
      group: "{{ item.group | default('root') }}"
      mode: "{{ item.mode | default('0700') }}"
    loop:
      - name: nextcloud-redis-data
        group: 999
        owner: 999
      - name: nextcloud-turnserver-data
      - name: nextcloud-www
        owner: 33
        group: 33
      - name: nextcloud-config
        owner: 33
        group: 33
      - name: nextcloud-data
        owner: 33
        group: 33
      - name: nextcloud-db
        group: 999
        owner: 999
      - name: nextcloud-nginx-config
      - name: nextcloud-elastic-data
        owner: 1000

  - name: copy nginx configuration file
    become: true
    copy:
      src: "{{ item }}"
      dest: "{{ docker_volumes_path }}/nextcloud-nginx-config"
      mode: '0644'
    loop:
      - nginx.conf
      - mime.types
      - fastcgi_params

  - name: Create nextcloud Dockerfile
    copy:
      src: nextcloud/Dockerfile
      dest: /home/{{ ansible_user }}/home-server/stacks/nc/nextcloud.Dockerfile
      mode: 0775

  - name: Create supervisord Dockerfile
    copy:
      src: nextcloud/supervisord.conf
      dest: /home/{{ ansible_user }}/home-server/stacks/nc/supervisord.conf
      mode: 0775

  - name: Create elastic Dockerfile
    copy:
      src: elastic/Dockerfile
      dest: /home/{{ ansible_user }}/home-server/stacks/nc/elastic.Dockerfile
      mode: 0775

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/nc/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      pull: yes
      build: yes
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/nc

 
  - name: end upgrade db
    include_tasks: tasks/upgrade_postgres_end.yml
    vars:
      db_data_path: nextcloud-db
      db_container_name: nc_ncdb_1
      db_container_user: nextcloud
      db_password: "{{ database_user_secret }}"
      db_dump_filename: db_dump_pgsql_nextcloud     

  - name: add missing indexes
    community.docker.docker_container_exec: 
      container: nc_nextcloud_1
      user: www-data
      command: php occ db:add-missing-indices
  - name: add missing indexes
    community.docker.docker_container_exec: 
      container: nc_nextcloud_1
      user: www-data
      command: php occ db:add-missing-columns

  - name: add missing indexes
    community.docker.docker_container_exec: 
      container: nc_nextcloud_1
      user: www-data
      command: php occ db:add-missing-primary-keys