---
- name: Install nextcloud
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/home-server/stacks/nextcloud"
      state: directory
      mode: 0775

  - name: Verify nextcloud volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - redis-data
      - turnserver-data
      - nextcloud-www
      - nextcloud-config
      - nextcloud-data
      - collabora-conf
      - redis-data
      - nextcloud-db
      - nextcoud_nginx_config
      - elastic_data

  - name: generate passwords if not existant
    become: true
    set_fact:
      nextcloud_admin_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/nextcloud_admin_secret chars=ascii_letters,digits length=32') }}"
      database_user_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/database_user_secret chars=ascii_letters,digits length=32') }}"
      talk_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/talk_secret chars=ascii_letters,digits length=32') }}"
      redis_secret: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/redis_secret chars=ascii_letters,digits length=32') }}"

  - name: copy nginx configuration file
    become: true
    copy:
      src: "{{ item }}"
      dest: "{{ docker_volumes_path }}/nextcoud_nginx_config"
      mode: '0644'
    loop:
      - nginx.conf
      - mime.types
      - fastcgi_params

  - name: Create nextcloud Dockerfile
    copy:
      src: nextcloud/Dockerfile
      dest: /home/{{ ansible_user }}/home-server/stacks/nextcloud/nextcloud.Dockerfile
      mode: 0775

  - name: Create supervisord Dockerfile
    copy:
      src: nextcloud/supervisord.conf
      dest: /home/{{ ansible_user }}/home-server/stacks/nextcloud/supervisord.conf
      mode: 0775

  - name: Create elastic Dockerfile
    copy:
      src: elastic/Dockerfile
      dest: /home/{{ ansible_user }}/home-server/stacks/nextcloud/elastic.Dockerfile
      mode: 0775

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/nextcloud/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      build: yes
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/nextcloud
      # files:
      #   - /home/{{ ansible_user }}/home-server/stacks/nextcloud/docker-compose.yml