---
- name: Install kresus on first swarm node
  when: inventory_hostname == groups['swarm_managers'][0]
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify kresus volume path
    become: true
    file:
      path: "{{ gluster_mount_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
    - kresus-database
    - kresus-database1
    - kresus-woob

  - name: generate passwords if not existant
    set_fact:
      k_db_password: "{{ lookup('password', '{{ gluster_mount_path }}/secrets/k_db_password chars=ascii_letters,digits length=32') }}"
      k_db1_password: "{{ lookup('password', '{{ gluster_mount_path }}/secrets/k_db1_password chars=ascii_letters,digits length=32') }}"
      k_password: "{{ lookup('password', '{{ gluster_mount_path }}/secrets/k_password chars=ascii_letters,digits length=32') }}"
      k1_password: "{{ lookup('password', '{{ gluster_mount_path }}/secrets/k1_password chars=ascii_letters,digits length=32') }}"

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/kresus-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_stack:
      state: present
      name: kresus
      compose:
        - /home/{{ ansible_user }}/stacks/kresus-stack.yml