---
- name: Install kresus
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/home-server/stacks/kresus"
      state: directory
      mode: 0775

  - name: Verify kresus volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
    - kresus-database
    - kresus-database1
    - kresus-woob

  - name: generate passwords if not existant
    become: true
    set_fact:
      k_db_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/k_db_password chars=ascii_letters,digits length=32') }}"
      k_db1_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/k_db1_password chars=ascii_letters,digits length=32') }}"
      k_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/k_password chars=ascii_letters,digits length=32') }}"
      k1_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/k1_password chars=ascii_letters,digits length=32') }}"

  - name: Add a user to a password file and ensure permissions are set
    become: true
    community.general.htpasswd:
      path: "{{ docker_volumes_path }}/traefik-rules/kresus_users"
      name: "p.leduc"
      password: "{{ k_password }}"
      owner: root
      group: root
      mode: 0640
  - name: Add a user to a password file and ensure permissions are set
    become: true
    community.general.htpasswd:
      path: "{{ docker_volumes_path }}/traefik-rules/kresus1_users"
      name: "v.leduc"
      password: "{{ k1_password }}"
      owner: root
      group: root
      mode: 0640

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/kresus/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      build: yes
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/kresus
      # files:
      #   - /home/{{ ansible_user }}/home-server/stacks/kresus/docker-compose.yml