---
- name: Install registry
  run_once: true
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/home-server/stacks/registry"
      state: directory
      mode: 0775

  - name: Verify registry volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/registry"
      state: directory
      mode: 0644

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/registry/docker-compose.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_compose:
      build: yes
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/registry
      # files:
      #   - /home/{{ ansible_user }}/home-server/stacks/registry/docker-compose.yml

#TODO
  # - name: Wait end of deployment
  #   community.docker.docker_stack_task_info:
  #     name: registry
  #   register: docker_services
  #   until: docker_services[].CurrentState == "Running"
  #   retries: 15
  #   delay: 60