---
- name: Install registry on first swarm_manager
  when: inventory_hostname == groups['swarm_managers'][0]
  block:
  - name: Verify stacks directory exists (on first swarm node)
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify registry volume path (on first swarm node)
    when: inventory_hostname == groups['swarm_managers'][0]
    become: true
    file:
      path: "{{ gluster_mount_path }}/registry"
      state: directory
      mode: 0644

  - name: Create docker-compose stack file (on first swarm node)
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/registry-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file (on first swarm node)
    docker_stack:
      state: present
      name: registry
      compose:
        - /home/{{ ansible_user }}/stacks/registry-stack.yml