---
- name: Install registry on first swarm_manager
  when: inventory_hostname == groups['swarm_managers'][0]
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify registry volume path
    become: true
    file:
      path: "{{ gluster_mount_path }}/registry"
      state: directory
      mode: 0644

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/registry-stack.yml
      mode: 0775

  - name: Deploy stack from a compose file
    docker_stack:
      state: present
      prune: yes
      name: registry
      compose:
        - /home/{{ ansible_user }}/stacks/registry-stack.yml

  - name: Wait end of deployment
    community.docker.docker_stack_task_info:
      name: registry
    register: docker_services
    until: docker_services[].CurrentState == "Running"
    retries: 15
    delay: 60