---
nextcloud_postgres_version: "15"

# Docker image versions
coturn_version: "4.6"
elasticsearch_version: "8.12.0"
redis_alpine_version: "alpine"
harp_version: "release"

nextcloud_defaultapp_list:
  - viewer
  - recognize
  - memories
  - fulltextsearch
  - fulltextsearch_elasticsearch
  - files_fulltextsearch
  - richdocuments
  - richdocumentscode
  - previewgenerator
  - integration_openai
  - music
  - notify_push
  - notes
  - deck
  - calendar
  - contacts
  - mail
  - oidc # Used to log in on authentik based on nextcloud user

nextcloud_system_config:
  - "overwrite.cli.url --value=https://{{ app_domain_name }}"
  - "trusted_domains 0 --value={{ app_domain_name }}"
  - "trusted_domains 1 --value=nginx"
#  - "trusted_proxies 0 --value={{ traefik_facts.container.NetworkSettings.Networks.backend.IPAddress }}"
  - "redis host --value='redis'"
  - "redis port --value='6379' --type=integer"
  - "redis timeout --value='0' --type=integer"
  - "redis password --value={{ redis_secret }}"
  - "memcache.local --value='\\OC\\Memcache\\Redis'"
  - "memcache.locking --value='\\OC\\Memcache\\Redis'"
  - "filelocking.enabled --value=true --type=boolean"
  - "enable_previews --value=true --type=boolean"
  - "enabledPreviewProviders 0 --value='OC\\Preview\\PNG'"
  - "enabledPreviewProviders 1 --value='OC\\Preview\\JPEG'"
  - "enabledPreviewProviders 2 --value='OC\\Preview\\GIF'"
  - "enabledPreviewProviders 3 --value='OC\\Preview\\BMP'"
  - "enabledPreviewProviders 4 --value='OC\\Preview\\XBitmap'"
  - "enabledPreviewProviders 5 --value='OC\\Preview\\MarkDown'"
  - "enabledPreviewProviders 6 --value='OC\\Preview\\MP3'"
  - "enabledPreviewProviders 7 --value='OC\\Preview\\TXT'"
  - "enabledPreviewProviders 8 --value='OC\\Preview\\Illustrator'"
  - "enabledPreviewProviders 9 --value='OC\\Preview\\Movie'"
  - "enabledPreviewProviders 10 --value='OC\\Preview\\MSOffice2003'"
  - "enabledPreviewProviders 11 --value='OC\\Preview\\MSOffice2007'"
  - "enabledPreviewProviders 12 --value='OC\\Preview\\MSOfficeDoc'"
  - "enabledPreviewProviders 13 --value='OC\\Preview\\OpenDocument'"
  - "enabledPreviewProviders 14 --value='OC\\Preview\\PDF'"
  - "enabledPreviewProviders 15 --value='OC\\Preview\\Photoshop'"
  - "enabledPreviewProviders 16 --value='OC\\Preview\\Postscript'"
  - "enabledPreviewProviders 17 --value='OC\\Preview\\StarOffice'"
  - "enabledPreviewProviders 18 --value='OC\\Preview\\SVG'"
  - "enabledPreviewProviders 19 --value='OC\\Preview\\TIFF'"
  - "enabledPreviewProviders 20 --value='OC\\Preview\\Font'"
#  - "preview_max_x --value='1024' --type=integer"
#  - "preview_max_y --value='768' --type=integer"
#  - "preview_max_scale_facto --value='1' --type=integer"
  - "auth.bruteforce.protection.enabled --value=true --type=boolean"
  - "trashbin_retention_obligation --value='auto,7'"
  - "activity_expire_days --value='14'  --type=integer"
  - "updater.release.channel --value=stable"
  - "loglevel --value=1 --type=integer"
  - "maintenance --value=false --type=boolean"
  - "default_phone_region --value='{{ nextcloud_default_phone_region }}'"
  - "mail_from_address --value={{ nextcloud_mail_from }}"
  - "mail_smtpmode     --value={{ nextcloud_mail_smtpmode }}"
  - "mail_smtpauthtype --value={{ nextcloud_mail_smtpauthtype }}"
  - "mail_domain       --value={{ nextcloud_mail_domain }}"
  - "mail_smtpname     --value={{ nextcloud_mail_smtpname }}"
  - "mail_smtpsecure   --value={{ nextcloud_mail_smtpsecure }}"
  - "mail_smtpauth     --value={{ nextcloud_mail_smtpauth }}"
  - "mail_smtphost     --value={{ nextcloud_mail_smtphost }}"
  - "mail_smtpport     --value={{ nextcloud_mail_smtpport }}"
  - "mail_smtpname     --value={{ nextcloud_mail_smtpname }}"
  - "mail_smtppassword --value={{ nextcloud_mail_smtppwd }}"
  - "maintenance_window_start --type=integer --value=1"
nextcloud_default_phone_region: "FR"

nextcloud_apps_config:
  - fulltextsearch search_platform --value "OCA\FullTextSearch_Elasticsearch\Platform\ElasticSearchPlatform"
  - fulltextsearch app_navigation --value="1"
  - fulltextsearch_elasticsearch analyzer_tokenizer --value "standard"
  - fulltextsearch_elasticsearch elastic_host --value "http://elastic:{{ nc_elastic_secret }}@nc-elasticsearch-1:9200"
  - fulltextsearch_elasticsearch elastic_index --value "nc_index"
  - fulltextsearch_elasticsearch allow_self_signed_cert --value "true"
  - files_fulltextsearch files_local  --value="1"
  - files_fulltextsearch files_external  --value="0"
  - files_fulltextsearch files_group_folders --value="1"
  - files_fulltextsearch files_encrypted --value="1"
  - files_fulltextsearch files_federated --value="0"
  - files_fulltextsearch files_size --value="20"
  - files_fulltextsearch files_pdf --value="1"
  - files_fulltextsearch files_office --value="1"
  - files_fulltextsearch files_image --value="1"
  - files_fulltextsearch files_audio --value="0"
  - files_fulltextsearch_tesseract tesseract_enabled --value="1"
  - files_fulltextsearch_tesseract tesseract_psm --value="4"
  - files_fulltextsearch_tesseract tesseract_lang --value="eng,fra"
  - files_fulltextsearch_tesseract tesseract_pdf --value="1"
  - integration_openai url --value="https://ia.{{ app_domain_name }}/api"
  - richdocuments enabled --value="yes"
  - richdocuments wopi_url --value="https://{{ app_domain_name }}/apps/richdocumentscode/proxy.php?req="
  - richdocuments public_wopi_url --value="https://{{ app_domain_name }}"
  - serverinfo token --value "{{ nextcloud_exporter_auth_token }}"
