---
- name: Install hassio
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/stacks"
      state: directory
      mode: 0644

  - name: Verify homeassistant volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - homeassistant
      - esphome
      - mosquitto-config
      - mosquitto-data
      - mosquitto-log
      - secrets

  - name: generate passwords if not existant
    become: true
    set_fact:
      esphome_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/esphome_password chars=ascii_letters,digits length=32') }}"
 
  - name: Generate admin password hash
    command: echo $(openssl passwd -apr1 {{ esphome_password }})| sed -e s/\\$/\\$\\$/g
    register: esphome_hash

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/stacks/hassio-stack.yml
      mode: 0775

  - name: Deploy compose from a compose file
    docker_compose:
      build: yes
      state: present
      files:
        - /home/{{ ansible_user }}/stacks/hassio-stack.yml
  
