---
- name: Install hassio
  block:
  - name: Verify stacks directory exists
    file:
      path: "/home/{{ ansible_user }}/home-server/stacks/hassio"
      state: directory
      mode: 0775

  - name: Verify homeassistant volume path
    become: true
    file:
      path: "{{ docker_volumes_path }}/{{ item }}"
      state: directory
      mode: 0644
    loop:
      - homeassistant
      - esphome
      - mosquitto-config
      - mosquitto-data
      - mosquitto-log

  - name: generate passwords if not existant
    become: true
    set_fact:
      esphome_password: "{{ lookup('password', '{{ docker_volumes_path }}/secrets/esphome_password chars=ascii_letters,digits length=32') }}"
 
  - name: Generate admin password hash
    command: openssl passwd -apr1 {{ esphome_password }}| sed -e s/\\$/\\$\\$/g
    register: esphome_hash
  - set_fact: 
      esphome_hash: "{{ esphome_hash.stdout }}"

  - name: Add a user to a password file and ensure permissions are set
    become: true
    community.general.htpasswd:
      path: "{{ docker_volumes_path }}/traefik-rules/esphome_users"
      name: "{{ esphome_user }}"
      password: "{{ esphome_password }}"
      owner: root
      group: root
      mode: 0640

  - name: Create docker-compose stack file
    template:
      src: docker-compose.yml
      dest: /home/{{ ansible_user }}/home-server/stacks/hassio/docker-compose.yml
      mode: 0775

  - name: Deploy compose from a compose file
    docker_compose:
      build: yes
      state: present
      project_src: /home/{{ ansible_user }}/home-server/stacks/hassio
      # files:
      #   - /home/{{ ansible_user }}/home-server/stacks/hassio/docker-compose.yml
  
