version: "3.4"
services:

  traefik:
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_backend
      - traefik.http.middlewares.admin-auth.basicauth.usersfile=/rules/traefik_users
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
      - traefik.http.routers.traefik-public-https.rule=Host(`traefik.{{ duckdns_subdomain }}.duckdns.org`)
      - traefik.http.routers.traefik-public-https.entrypoints=https
      - traefik.http.routers.traefik-public-https.tls=true
      # Use the special Traefik service api@internal with the web UI/Dashboard
      - traefik.http.routers.traefik-public-https.service=api@internal
      # Use the "le" (Let's Encrypt) resolver created below
      - traefik.http.routers.traefik-public-https.tls.certresolver=le
       # Enable HTTP Basic auth, using the middleware created above
      - traefik.http.routers.traefik-public-https.middlewares=admin-auth

      # - traefik.http.middlewares.localip.ipwhitelist.sourcerange=192.168.21.0/24, 2a01:cb08:87f6:500::/56
      # Define the port inside of the Docker service to use
      - traefik.http.services.traefik-public.loadbalancer.server.port=8080

      - traefik.http.routers.traefik-public-https.tls.domains[0].main=$duckdns_subdomain.duckdns.org
      - traefik.http.routers.traefik-public-https.tls.domains[0].sans=*.$duckdns_subdomain.duckdns.org

    environment:
      - traefik_duckdns_token={{ traefik_duckdns_token }}
    hostname: traefik
    image: traefik:latest      
    command:
      - --providers.docker
      # - --providers.docker.exposedbydefault=false
      - --providers.docker.watch
      - --providers.file.filename=/rules/rules.yaml
      #- --providers.docker.endpoint=tcp://127.0.0.1:2377
      - --entrypoints.http.address=:80
      #- --entrypoints.http.http.redirections.entryPoint.to=https
      - --entrypoints.https.address=:443
      - --entrypoints.websecure.address=:8443
      - --certificatesresolvers.le.acme.email={{ traefik_email }}
      - --certificatesresolvers.le.acme.storage=/certificates/acme.json
      # - --certificatesresolvers.le.acme.httpchallenge.entrypoint=http
      # - --certificatesresolvers.le.acme.tlschallenge=true
      - --certificatesresolvers.le.acme.dnschallenge=true
      - --certificatesresolvers.le.acme.dnschallenge.provider=duckdns
      - --entrypoints.websecure.http.tls.domains[0].main=$duckdns_subdomain.duckdns.org
      - --entrypoints.websecure.http.tls.domains[0].sans=*.$duckdns_subdomain.duckdns.org
      
      # a tester uniquement les sous-certificats seronts valides
      #- --entrypoints.websecure.http.tls.domains[0].main="*.$duckdns_subdomain.duckdns.org > $duckdns_subdomain.duckdns.org"

      #- "--certificatesresolvers.le.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - --accesslog
      - --log
      - --log.level=INFO
      - --api
    networks:
      - backend

    ports:
      - 0.0.0.0:8443:8443/tcp
      - 0.0.0.0:443:443/tcp
      - 0.0.0.0:80:80/tcp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - traefik-public-certificates:/certificates
      - traefik-rules:/rules

  updateDuckDNSIP:
    # used to update duckdns
    # if you have a static IP, yu can comment this out
    # using busybox due to it having an image for almost every platform
    image: busybox
    command: /bin/sh -c "while true; do wget -O - 'https://www.duckdns.org/update?domains={{ duckdns_subdomain }}&token={{ traefik_duckdns_token }}&ip='; sleep 1200; done"
    network_mode: bridge

networks:
  backend:
    attachable: true

volumes:
  traefik-public-certificates:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/traefik-public-certificates"
  traefik-rules:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/traefik-rules"