#!/bin/bash

export RESTIC_REPOSITORY="{{ restic_repo }}"
export RESTIC_PASSWORD="{{ restic_backup_secret }}"

# abort entire script if any command fails
set -e

# unlock restic to keep automatic backups going
restic unlock --cleanup-cache

# TODO use dictionary of pg_dump to backup
sudo docker exec kresus_k-db_1 pg_dumpall -c -U kresus -w > {{ docker_volumes_path }}/databases/db_dump_pgsql_kresus.sql
sudo docker exec kresus_k-db1_1 pg_dumpall -c -U kresus -w > {{ docker_volumes_path }}/databases/db_dump_pgsql_kresus1.sql


# Make sure nextcloud is enabled when we are done
trap "docker exec -u www-data nc_nextcloud_1 php occ maintenance:mode --off" EXIT

# set nextcloud to maintenance mode
docker exec -u www-data nc_nextcloud_1 php occ maintenance:mode --on

sudo docker exec nc_ncdb_1 pg_dumpall -c -U nextcloud -w > {{ docker_volumes_path }}/databases/db_dump_pgsql_nextcloud.sql
restic backup --tag min --verbose {{ docker_volumes_path }}/nextcloud-turnserver-data
restic backup --tag min --verbose {{ docker_volumes_path }}/nextcloud-www
restic backup --tag min --verbose {{ docker_volumes_path }}/nextcloud-config
restic backup --tag max --verbose {{ docker_volumes_path }}/nextcloud-data

# end maintenance mode
docker exec -u www-data nc_nextcloud_1 php occ maintenance:mode --off

# delete trap
trap "" EXIT

# backup the data dir
# TODO use dictionary of dirs to backup
restic backup --tag min --verbose {{ docker_volumes_path }}/secrets

restic backup --tag min --verbose {{ docker_volumes_path }}/homeassistant
restic backup --tag min --verbose {{ docker_volumes_path }}/esphome

restic backup --tag min --verbose {{ docker_volumes_path }}/traefik-public-certificates

restic backup --tag min --verbose {{ docker_volumes_path }}/databases

# clean up backup dir
restic forget --tag max --keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 75
restic forget --tag min --keep-daily 7 --keep-weekly 5
restic prune