#!/bin/bash

export RESTIC_REPOSITORY="{{ restic_repo }}"
export RESTIC_PASSWORD="{{ restic_backup_secret }}"
{% if aws_access_key_id and aws_secret_access_key %}
export AWS_ACCESS_KEY_ID="{{ aws_access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ aws_secret_access_key }}"
{% endif %}

# abort entire script if any command fails
set -e

# unlock restic to keep automatic backups going
/usr/local/bin/restic unlock --cleanup-cache
{% if aws_access_key_id and aws_secret_access_key %}
/usr/local/bin/restic unlock -r s3:{{ aws_bucket }} --cleanup-cache
{% endif %}

# TODO use dictionary of pg_dump to backup
sudo docker exec kresus-k-db-1 pg_dumpall -c -U kresus -w > {{ docker_volumes_path }}/databases/db_dump_pgsql_kresus.sql
sudo docker exec kresus-k-db1-1 pg_dumpall -c -U kresus -w > {{ docker_volumes_path }}/databases/db_dump_pgsql_kresus1.sql


# Make sure nextcloud is enabled when we are done
trap "docker exec -u www-data nc-nextcloud-1 php occ maintenance:mode --off" EXIT

# set nextcloud to maintenance mode
docker exec -u www-data nc-nextcloud-1 php occ maintenance:mode --on

sudo docker exec nc-ncdb-1 pg_dumpall -c -U nextcloud -w > {{ docker_volumes_path }}/databases/db_dump_pgsql_nextcloud.sql
/usr/local/bin/restic backup --tag min --verbose {{ docker_volumes_path }}/nextcloud-turnserver-data
/usr/local/bin/restic backup --tag min --verbose {{ docker_volumes_path }}/nextcloud-www
/usr/local/bin/restic backup --tag min --verbose {{ docker_volumes_path }}/nextcloud-config
/usr/local/bin/restic backup --tag max --verbose {{ docker_volumes_path }}/nextcloud-data
{% if aws_access_key_id and aws_secret_access_key %}
/usr/local/bin/restic backup -r s3:{{ aws_bucket }} --verbose {{ docker_volumes_path }}/nextcloud-config
/usr/local/bin/restic backup -r s3:{{ aws_bucket }} --verbose {{ docker_volumes_path }}/nextcloud-data
{% endif %}

# end maintenance mode
docker exec -u www-data nc-nextcloud-1 php occ maintenance:mode --off

# delete trap
trap "" EXIT

# backup the data dir
# TODO use dictionary of dirs to backup
/usr/local/bin/restic backup --tag min --verbose {{ docker_volumes_path }}/secrets

/usr/local/bin/restic backup --tag min --verbose {{ docker_volumes_path }}/homeassistant

/usr/local/bin/restic backup --tag min --verbose {{ docker_volumes_path }}/traefik-public-certificates

/usr/local/bin/restic backup --tag min --verbose {{ docker_volumes_path }}/databases
{% if aws_access_key_id and aws_secret_access_key %}
/usr/local/bin/restic backup -r s3:{{ aws_bucket }} --verbose {{ docker_volumes_path }}/databases
{% endif %}

# clean up backup dir
/usr/local/bin/restic forget --tag max --keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 75
/usr/local/bin/restic forget --tag min --keep-daily 7 --keep-weekly 5
/usr/local/bin/restic prune

{% if aws_access_key_id and aws_secret_access_key %}
 /usr/local/bin/restic forget -r s3:{{ aws_bucket }} --keep-daily 7 --keep-weekly 5
 /usr/local/bin/restic prune -r s3:{{ aws_bucket }}
{% endif %}