# code: language=ansible
---
- name: Read snapshots
  hosts: backup
  tasks:
    - name: Retrive secret
      ansible.builtin.include_tasks: "tasks/retrieve_password.yml"
      vars:
        secrets:
          - restic_backup_secret
    - name: Read repository
      become: true
      ansible.builtin.command: 'restic snapshots --group-by path'
      environment:
        RESTIC_REPOSITORY: "{{ restic_repo }}"
        RESTIC_PASSWORD: "{{ restic_backup_secret }}"
      register: restic_repos
      changed_when: false
    - name: Display it
      ansible.builtin.debug:
        var: restic_repos
    - name: Read AWS repository
      ansible.builtin.command: 'restic snapshots --group-by path'
      environment:
        AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
        AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"
        RESTIC_REPOSITORY: "s3:{{ aws_bucket }}"
        RESTIC_PASSWORD: "{{ restic_backup_secret }}"
      register: restic_repos_aws
      changed_when: false
    - name: Display AWS repository
      ansible.builtin.debug:
        var: restic_repos_aws
