# code: language=ansible
---
# - hosts: docker_server
#   roles:
#     - host-defaults

- hosts: docker_server
  tasks:
    - name: Retrive secret
      ansible.builtin.include_tasks: "tasks/retrieve_password.yml"
      vars:
        secrets:
          - restic_backup_secret
    - name: Read repository
      become: true
      ansible.builtin.command: 'restic snapshots --group-by path'
      environment:
        RESTIC_REPOSITORY: "{{ restic_repo }}"
        RESTIC_PASSWORD: "{{ restic_backup_secret }}"
      register: restic_repos
      changed_when: false
    - name: Display it
      ansible.builtin.debug:
        var: restic_repos
