---
# - hosts: docker_server
#   roles: 
#     - host-defaults

- hosts: docker_server
  pre_tasks:
    - name: Verify secrets path
      become: true
      file:
        path: "{{ docker_volumes_path }}/secrets"
        state: directory
        owner: root 
        group: leduc 
        mode: u=rwX,g=rwX,o=rwX 
        recurse: yes
  roles:
    - docker
    - traefik
    - portainer
    - nextcloud
    - kresus
    - hassio
    - gitlab
    - prep_backup
  post_tasks:
    - name: Make secrets path unreadeable
      become: true
      file:
        path: "{{ docker_volumes_path }}/secrets"
        state: directory
        owner: root 
        group: leduc 
        mode: u=rw,g=rw,o=
        recurse: yes
