---
# - hosts: docker_server
#   roles:
#     - host-defaults

- hosts: docker_server
  pre_tasks:
    - name: Verify secrets path
      become: true
      ansible.builtin.file:
        path: "{{ docker_volumes_path }}/secrets"
        state: directory
        owner: root
        group: leduc
        mode: u=rwX,g=rwX,o=rwX
        recurse: true
  roles:
    - docker
    - traefik
    # - portainer
    - nextcloud
    - kresus
    - hassio
    - gitlab
    - public_calendar
    - prep_backup
  post_tasks:
    - name: Make secrets path unreadeable
      become: true
      ansible.builtin.file:
        path: "{{ docker_volumes_path }}/secrets"
        state: directory
        owner: root
        group: leduc
        mode: u=rw,g=rw,o=
        recurse: true
    - name: Docker prune
      community.docker.docker_prune:
        images: true
        containers: true
        containers_filters:
          until: 24h
