# code: language=ansible
---
- name: Upgrade server
  hosts: docker_server
  roles:
    - upgrade-packages
    - docker
    - prep_backup

- name: Install apps & backup
  hosts: docker_server
  roles:
    - traefik
    # - portainer
    - nextcloud
    - kresus
    - hassio
    - gitlab
  post_tasks:
    - name: Docker prune
      community.docker.docker_prune:
        images: true
        containers: true
        containers_filters:
          until: 24h
  tags: docker-apps
...
