# code: language=ansible
---
- name: Upgrade server
  hosts: docker_server
  roles:
    - upgrade-packages
    - prep_backup

- name: Install apps & backup
  hosts: docker_server
  roles:
    - monitoring
    - authentik
    - ia
    - nextcloud
    - kresus
    - gitlab
    - hassio
  post_tasks:
    - name: Docker prune
      community.docker.docker_prune:
        images: true
        containers: true
        containers_filters:
          until: 24h
        volumes: true
        networks: true

  tags: docker-apps
...
