---
- hosts: docker_server
  roles:
    - upgrade-packages

- hosts: docker_server
  roles:
    - docker
    - traefik
    # - portainer
    - nextcloud
    # - kresus
    - hassio
    # - gitlab
    # - public_calendar
    # - prep_backup
  post_tasks:
    - name: Docker prune
      community.docker.docker_prune:
        images: true
        containers: true
        containers_filters:
          until: 24h
