# code: language=ansible
---
- name: Upgrade server
  hosts: docker_server
  roles:
    # - nut # TODO debug ansible scripting
    - prep_backup
    - upgrade-packages
    - docker

- name: Install apps & backup
  hosts: docker_server
  roles:
    - gitlab
    - monitoring
    - traefik
    - ia
    - nextcloud
    - kresus
    - hassio
  post_tasks:
    - name: Docker prune
      community.docker.docker_prune:
        images: true
        containers: true
        containers_filters:
          until: 24h
        volumes: true
        networks: true
  tags: docker-apps
...
