# code: language=ansible
---
- name: Upgrade server
  hosts: docker_server
  roles:
    # - role: nut # TODO debug ansible scripting
    #   tags: nut
    - role: prep_backup
      tags: prep_backup
    - role: upgrade-packages
      tags: upgrade-packages
    - role: docker
      tags: docker

- name: Install apps & backup
  hosts: docker_server
  roles:
    - role: traefik
      tags: ['traefik', 'docker-apps']
    - role: authentik
      tags: ['authentik', 'docker-apps']
    - role: monitoring
      tags: ['monitoring', 'docker-apps']
    - role: gitlab
      tags: ['gitlab', 'docker-apps']
    - role: nextcloud
      tags: ['nextcloud', 'docker-apps']
    - role: kresus
      tags: ['kresus', 'docker-apps']
    - role: ia
      tags: ['ia', 'docker-apps']
    - role: hassio
      tags: ['hassio', 'docker-apps']
  post_tasks:
    - name: Docker prune
      community.docker.docker_prune:
        images: true
        containers: true
        containers_filters:
          until: 24h
        volumes: true
        networks: true
      tags: ['always', 'docker-apps']
...
