---
- hosts: dnsmasq
  pre_tasks:
    - name: create resolv-file for dnsmasq
      template:
        src: resolvconf.dnsmasq.j2
        dest: /etc/resolv.dnsmasq
        mode: 0644
  roles:
    - oefenweb.dnsmasq
    - adfinis-sygroup.isc_dhcp_server
  vars:
    dnsmasq_dnsmasq_conf:
      - |
        port=53
        listen-address={{ ansible_lo['ipv4']['address'] }}
        bind-interfaces
    dnsmasq_dnsmasq_d_files_present:
      cache:
        - |
          domain-needed
          bogus-priv
          no-hosts
          dns-forward-max=150
          cache-size=1000
          neg-ttl=3600
          resolv-file=/etc/resolv.dnsmasq
          no-poll

    # OMAPI synchronization port
    isc_dhcp_server_omapi_port: 7911

    # DHCP server subnet configuration. Default is not to configure any subnets.
    isc_dhcp_server_subnet:
      - netaddress: 192.168.21.2
        netmask: 255.255.255.0
        routers: 192.168.21.1
        domain: leducd.local
        domain_search: leducd.local
        dns: 192.168.121.2, 192.168.21.1
        range: 192.168.21.20 192.168.21.100