# code: language=dockercompose
version: '3.3'

services:
  agendav:
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_backend
      - traefik.constraint-label=traefik_backend
      - traefik.http.routers.agendav-http.rule=Host(`agenda.{{ app_domain_name }}`)
      - traefik.http.routers.agendav-http.entrypoints=http
      - traefik.http.routers.agendav-http.middlewares=https-redirect
      - traefik.http.routers.agendav-https.rule=Host(`agenda.{{ app_domain_name }}`)
      - traefik.http.routers.agendav-https.entrypoints=https
      - traefik.http.routers.agendav-https.tls=true
      - traefik.http.routers.agendav-https.tls.certresolver=le
      - traefik.http.routers.agendav-websecure.rule=Host(`agenda.{{ app_domain_name }}`)
      - traefik.http.routers.agendav-websecure.entrypoints=websecure
      - traefik.http.routers.agendav-websecure.tls=true
      - traefik.http.routers.agendav-websecure.tls.certresolver=le
      - traefik.http.services.agendav.loadbalancer.server.port=8080
    image: ghcr.io/nagimov/agendav-docker:latest
    container_name: agendav
    environment:
      - AGENDAV_SERVER_NAME=agenda.{{ app_domain_name }}
      - AGENDAV_TITLE=Bienvenue sur l\'agenda partagé du Kafé
      - AGENDAV_FOOTER=Hosted by Pierre Leduc
      - AGENDAV_ENC_KEY=my_encrypt10n_k3y
      - AGENDAV_CALDAV_SERVER=http://baikal:80/cal.php
      - AGENDAV_CALDAV_PUBLIC_URL=https://caldav.{{ app_domain_name }}
      - AGENDAV_TIMEZONE=Europe/Paris
      - AGENDAV_LANG=fr_FR
      - AGENDAV_LOG_DIR=/tmp/
    ports:
      - "8080"
    networks:
      - traefik_backend
    restart: always
    healthcheck:
      test: curl --fail http://localhost:8080 || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s

  baikal:
    image: ckulka/baikal:nginx
    restart: always
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_backend
      - traefik.constraint-label=traefik_backend
      - traefik.http.routers.baikal-http.rule=Host(`caldav.{{ app_domain_name }}`)
      - traefik.http.routers.baikal-http.entrypoints=http
      - traefik.http.routers.baikal-http.middlewares=https-redirect
      - traefik.http.routers.baikal-https.rule=Host(`caldav.{{ app_domain_name }}`)
      - traefik.http.routers.baikal-https.entrypoints=https
      - traefik.http.routers.baikal-https.tls=true
      - traefik.http.routers.baikal-https.tls.certresolver=le
      - traefik.http.routers.baikal-https.middlewares=baikal@docker
      - traefik.http.routers.baikal-websecure.rule=Host(`caldav.{{ app_domain_name }}`)
      - traefik.http.routers.baikal-websecure.entrypoints=websecure
      - traefik.http.routers.baikal-websecure.tls=true
      - traefik.http.routers.baikal-websecure.tls.certresolver=le
      - traefik.http.routers.baikal-websecure.middlewares=baikal@docker
      - traefik.http.services.baikal.loadbalancer.server.port=80

      - traefik.http.middlewares.baikal.headers.SSLRedirect=true
      - traefik.http.middlewares.baikal.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.baikal.headers.STSPreload=true
      - traefik.http.middlewares.baikal.headers.STSSeconds=315360000
      - traefik.http.middlewares.baikal.headers.browserXSSFilter=true
      - traefik.http.middlewares.baikal.headers.contentTypeNosniff=true
      - traefik.http.middlewares.baikal.headers.customFrameOptionsValue=SAMEORIGIN
      - traefik.http.middlewares.baikal.headers.forceSTSHeader=true
      - traefik.http.middlewares.baikal.headers.referrerPolicy=no-referrer
    environment: 
      - UID=1000
      - GID=1000
    ports:
      - "80"
    volumes:
      - baikal-config:/var/www/baikal/config
      - baikal:/var/www/baikal/Specific
    networks:
      - traefik_backend
    healthcheck:
      test: curl --fail http://localhost || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s

networks:
  traefik_backend:
    external: true

volumes:
  baikal:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/public_baikal"
  baikal-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/public_baikal_conf"